* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Work Sans", sans-serif;
  color: black;
  background-color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-right: 10px;
}

.navbar-list-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #001246;
}

.shopping-cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart::after {
  content: '4';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  left: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FFBC0F;
  font-size: 14px;
}

.shop-logo {
    width: 195px;
    height: 30px;
}

.cartSummary {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px 0 20px;
}

.cartSummary h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.item:nth-of-type(1) {
  border-top: 1px solid #ccc;
}

.item img {
  width: 70px;
  height: 70px;
  background: #d5d9e7;
  border: none;
}

.item form input {
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  /* -moz-appearance: textfield; */
  -webkit-appearance: none;
  /* border: none; */
}
.item form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.item button:nth-child(1),
.item button:nth-child(3) {
  font-size: 16px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.item button:nth-child(1):hover,
.item button:nth-child(3):hover {
  background-color: #001246;
  color: #fff;
  transition: 0.5s;
}

.remove-button {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background-color: white;
  cursor: pointer;
}

.remove-button::before {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  margin-right: 10px;
  content: "";
  display: inline-block;
  height: 18px;
  width: 14px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background-image: url("../images/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.form-and-button-holder {
  display: flex;
  margin-right: 55px;
  border: 1px solid #8b94b3;
}

.name-and-description {
  padding: 10px;
  display: flex;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.name-and-description span:first-child {
  font-weight: bold;
  font-size: 16px;
}
.name-and-description span:nth-child(2) {
  font-weight: 500;
  font-size: 12px;
}

.price {
  font-weight: 600;
  font-size: 14px;
  min-width: 50px;
  margin-right: 50px;
}

[data-component="app"] {
  padding: 1em;
  background-image: linear-gradient(90deg, #a8caba 0%, #5d4157 100%);
  background-size: cover;
  min-height: 10em;
  color: #222;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar-list-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #001246;
}

.shop-logo {
  height: 100%;
}

.orderSummary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 30px;
  margin-right: 30px;
}

.orderSummary h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.total-order-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 440px;
  min-height: 326px;
  padding: 20px;
  border: 1px solid #b1b8d0;
}

.total-order-holder h4 {
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total-order-holder h4 span:nth-child(1) {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.total-order-holder h4:nth-child(2) span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.voucher-input-and-button-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
.voucher-input-and-button-holder form {
  width: 100%;
  height: 100%;
}

#voucher-code {
  width: 100%;
  height: 100%;
  border: 1px solid #8b94b3;
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
}

.discount-price-holder {
  border-top: 1px solid #8b94b3;
  padding-top: 20px;
}

.discount-price-holder span {
  color: green;
}

#check-voucher-code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 10px;
  width: 50px;
  height: 100%;
  border: none;
  background-color: #8b94b3;
  color: #fff;
  cursor: pointer;
}

.checkout-button {
  background: #001246;
  color: white;
  margin: 30px 0px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  width: 440px;
  height: 64px;
  box-shadow: 0px 4px 16px rgba(35, 221, 237, 0.16), 0px 4px 8px -2px #030c28;
  border-radius: 4px;
}

.promotions-holder {
  width: 100%;
}

.promotion-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.promotion-holder h5 {
  padding: 8px 16px;
  background: #d5d9e7;
  border: 1px solid #213473;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.promotion-holder h5::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url("../images/shopping_cart.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.promotion-holder h5 span {
  font-weight: 400;
  padding-left: 10px;
}

.promotion-holder > span {
  font-weight: 600;
  font-size: 16px;
  color: #3c8a3c;
}

.cart-and-summary-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  background: #f7f8fa;
}

.footer-right-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #001246;
}

.footer-right-holder .sales {
  color: #D9534F;
}

.footer-left-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.email-wrapper {
  display: flex;
  width: 400px;
  height: 50px;
}

.email-input {
  width: 350px;
  height: 100%;
}

.footer-shop-logo {
  width: 180px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.check-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.footer-right-holder ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.footer-right-holder ul li:first-child {
  font-weight: 600;
  font-size: 16px;
}

.footer-right-holder ul li:hover {
  cursor: pointer;
  font-weight: 500;
}

.footer-right-holder ul li {
  color: #38477b;
  font-size: 14px;
}

.footer-left-holder form input {
  border: 1px solid #8b94b3;
  padding: 10px;
  color: #8b94b3;
}
.footer-left-holder form button {
  background: #8b94b3;
  border: none;
  padding: 10px;
}

.footer-left-holder form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
  min-width: 90px;
  height: 30px;
  gap: 16px;
}

.social-media-icons a {
  display: inline-block;
  height: 100%;
  width: 30px;
  padding: 0 15px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.social-media-icons a:first-child {
  background-image: url("../images/Twitter.svg");
  padding-left: 0;
}

.social-media-icons a:nth-child(2) {
  background-image: url("../images/Facebook.svg");
}

.social-media-icons a:nth-child(3) {
  background-image: url("../images/LinkedIn.svg");
}

.copyright-holder {
  align-self: bottom;
  margin-top: 50px;
  font-size: 12px;
  color: #6c7594;
}

#error-message {
  background: #f0c4c4;
  border: 1px solid #732121;
}

.bad-request {
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: white;
  color: black;
}
